Stock_Analysis/Stock_Analysis/Connected Services/getCompStock/getCompStock_WSD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wmEAIprd01/USI_ASRS.getCompStock:getCompStock_WSD" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="getCompStock_WSD" targetNamespace="http://wmEAIprd01/USI_ASRS.getCompStock:getCompStock_WSD" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://wmEAIprd01/USI_ASRS.getCompStock:getCompStock_WSD">
      <xsd:element name="getCompStock" type="tns:getCompStock" />
      <xsd:element name="getCompStockResponse" type="tns:getCompStockResponse" />
      <xsd:complexType name="getCompStock">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="S_DATE" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="E_DATE" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCompStockResponse">
        <xsd:sequence>
          <xsd:element name="XMLOutput" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCompStock_WSD_PortType_getCompStockResponse">
    <wsdl:part name="parameters" element="tns:getCompStockResponse" />
  </wsdl:message>
  <wsdl:message name="getCompStock_WSD_PortType_getCompStock">
    <wsdl:part name="parameters" element="tns:getCompStock" />
  </wsdl:message>
  <wsdl:portType name="getCompStock_WSD_PortType">
    <wsdl:operation name="getCompStock">
      <wsdl:input message="tns:getCompStock_WSD_PortType_getCompStock" />
      <wsdl:output message="tns:getCompStock_WSD_PortType_getCompStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="USI_ASRS_getCompStock_getCompStock_WSD_Binder" type="tns:getCompStock_WSD_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCompStock">
      <soap:operation soapAction="USI_ASRS_getCompStock_getCompStock_WSD_Binder_getCompStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USI_ASRS.getCompStock.getCompStock_WSD">
    <wsdl:port name="USI_ASRS_getCompStock_getCompStock_WSD_Port" binding="tns:USI_ASRS_getCompStock_getCompStock_WSD_Binder">
      <soap:address location="http://10.0.4.100:5555/ws/USI_ASRS.getCompStock:getCompStock_WSD/USI_ASRS_getCompStock_getCompStock_WSD_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>